extends layout

block content
	.col-xs-9
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam nesciunt magni nemo ratione quidem accusamus iusto unde distinctio cum corrupti molestias voluptatem, expedita molestiae fugit, voluptates, blanditiis quam fuga.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores adipisci distinctio delectus, ex magnam perspiciatis voluptatem. Adipisci, ducimus libero qui nisi hic suscipit natus quia iste, minus repellat minima quod.