#navbar-custom {
  background-color: white;
  border: none;
}

#navbar-custom .container {
  border-bottom: 1px solid #eee;
}

.content-area {
  margin-top: 90px;
}

#logout {
    margin-top: 3px;
    color: white;
    padding: 10px 15px;
}

#logout:hover {
    background-color: #a94442;
    border-color: #d9534f;
}