#navbar-custom {
  background-color: white;
  border: none;
}

#navbar-custom > div {
  border-bottom: 1px solid #eee;
}

.content-area {
  margin-top: 90px;
}

#logout {
  margin-top: 3px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logout:hover {
    background-color: #a94442;
    border-color: #d9534f;
}

#side-bar {
    border-right: solid 1px #eee;
    height: 600px
}

#login {
    border: 1px solid #eee;
    padding: 20px;
    margin-top: 90px;
    width: 600px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}

#login h1{
  color: #777;
}

#login label{
  color: #777;
}

#newpost {
  margin-top: 3px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 15px;
}

#newpost:hover {
    background-color: #337ab7;
    border-color: #6ea5d4;
}