$light-gray: #777
$bg-green: #3c763d
$border-color: #eee
$bg-gray: #eee
$ok-color: #5cb85c
$remove-color: #d9534f

=bg-gray
  background: $bg-gray
  padding: 5px

=icon($color, $padding, $top, $left)
  color: $color
  padding-left: $padding
  font-size: 16px
  position: relative
  top: $top
  left: $left
  cursor: pointer
  display: none


#navbar-custom
  background-color: white
  border: 0

  div
    border-bottom: 1px solid $border-color

.content-area
  margin-left: 307px
  margin-top: 90px
  width: 960px;


#login
  border: 1px solid $border-color
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1)
  margin-top: 90px
  padding: 20px
  width: 600px

  h1
    color: $light-gray

  label
    color: $light-gray

#newpost
  border: 1px solid $border-color
  box-shadow: 0 0 25px 0 rgba(0 , 0, 0, .1)
  padding: 20px

  label
    color: $light-gray

  h1
    color: $light-gray

.form-errors
  padding: 0

  li
    list-style: none

#featured
  width: 100%

  div
    left: 900px;
    top: 105px;

    &:hover
      left: 890px;
      width: 70px;

  img
    height: 460px
    width: 100%

  p
    border-bottom: 1px solid $border-color
    padding-bottom: 15px


.post
  width: 475px

  &:nth-child(odd)
    padding-left: 0

  div
    background-color: $bg-green
    left: 415px
    position: relative
    top: 80px
    width: 60px

    &:hover
      left: 405px
      width: 70px

    a
      color: white
      display: block
      padding: 10px 5px 7px 7px
      text-decoration: none

    span
      &:last-child
        bottom: 2px
        position: relative

  h5
    color: $light-gray
    span
      &:first-child
        +bg-gray

  h2
    word-wrap: break-word

  p
    color: $light-gray

  img
    height: 223px
    width: 475px

#arrow-down
  border: 1px solid $bg-green
  border-radius: 50%
  color: $bg-green
  cursor: pointer
  height: 50px
  margin: 70px 0 50px 457px
  width: 50px
  text-align: center

  &:hover
    background-color: $bg-green
    color: white

  span
    font-size: 35px
    padding: 8px 0 0 4px

#show-post
  #delete-post-btn
      margin-left: 10px

  .post-title-n-published-date
    h2
      word-wrap: break-word

    h6
      color: $light-gray

      span
        +bg-gray

  .post-delete-btn-n-decision-icons
    margin-bottom: 40px
    span
      &:nth-of-type(1)
        +icon($remove-color, 5px, 40px, 190px)

      &:nth-of-type(2)
        +icon($ok-color, 0, 39px, 190px)

  .post-image
    img
      height: 460px
      margin-top: 30px
      width: 100%

  .post-category
    h6
      margin: 30px 0
      color: $light-gray

      span
        +bg-gray

    p
      color: $light-gray
      font-size: 16px
      text-align: justify

#comments
  margin-bottom: 30px
  margin-top: 30px
  border: 1px solid $border-color
  padding: 30px

  #comments-icon
    font-size: 30px

.comments-list
  .name-n-date
    h6
      &:first-child
        display: inline
        color: $light-gray

      span
        +bg-gray
  
  .btn-n-decision-icons
    span
      &:nth-of-type(1)
        +icon($ok-color, 10px, 5px, 0px)

      &:nth-of-type(2)
        +icon($remove-color, 5px, 5px, 0px)

  .comment-body
    h6
      color: $light-gray
      margin-left: 20px
      margin-bottom: 30px

#new-comment
  background: #f1f1f1
  padding: 30px
  margin-bottom: 70px
